.container {
  display: flex;
  height: 100vh;
}

.menu {
  background-color: #6a6a6a;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn-padrao {
  width: 90%;
  padding: 10px;
  background-color: #999;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5%;
}

.btn-padrao:hover {
  background-color: #33ba9f;
}

.logout{
  width: 99%;
  padding: 4px;
  background-color: #999;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: bold;
}

.logout:hover{
  background-color: #33ba9f;
}

.content {
  flex: 1;
  background-color: #f1f1f1;
  padding: 20px;
  background-image: url("/src/assets/moeda.jpg");
  background-size: cover;
  opacity: 0.8;
  
}


.logout-btn {
  margin-top: auto;
  margin-bottom: 20px;
}

.txtHome {
  display: flex;
  font-family: sans-serif;
  justify-content: left;
  color: rgb(225, 214, 214);
  font-weight: bold;
}